/* Reset do CSS   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  /* background-color: #d5dbdb; */
  background-image: url("../img/backgroundTexturaMetalica.jpg");
  background-size: auto 100vh;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  height: 100vh;
}

/*tamanho minimo para carregar estilos, pode ser de width ou height*/
@media( min-width: 400px) {
  body {
    font-size: 14px;
  }
  
  .logo {
    margin-top: 2px;s
  }
}

@media( min-width: 600px ) {
  body {
    font-size: 18px;
  }
}

@media( min-width: 1200px ) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center; /*alinhamento horizontal*/
  align-items: center; /*alinhamento veritical*/
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: right;  
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 20px;
  transition: background-color 2s, color 2s;
  /*transition: quais propriedades quero que mude e o tempo da transição, precisa de um gatilho no caso é o hover*/
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

.menu a:hover, .menu:active {
  background-color: teal ;
  color: white;
  text-decoration: none;
}

@media( min-width: 300px ) {
  .menu {
    display: flex;
    justify-content: center;
  }
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0; /*colocar transparencia 0 transparente a 1 opaco*/
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  100% {
  transform: scale(1) translateY(0);
  opacity: 1;
  }
} /*Pode ser de 0% a 100% ou  from- to*/

.site-title, .site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family:'Work Sans', sans-serif;
  font-size: 4em; /* em - unidade relativa ao valor da fonte do body */
  /* line-height: 1.8em; altura de linha */
}

.site-subtitle {
  /* font-style: italic; */
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

.sobre, .portfolio , .contato {
  padding: 2em; /* empurrão dos elementos para dentro */
  min-height: 100vh; /*altura minima*/
}
@media( min-width: 1200px ) {
  .container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
  }
}

.sobre h2, .portfolio h2, .contato h2 {
  color: whitesmoke;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}

.sobre p {
  color: whitesmoke;
  font-family: 'Prompt', sans-serif;
  font-weight: 100;
  margin-bottom: 1em;
  text-align: justify;
}

.sobre a {
  color: #2a7ae4 ;
  font-weight: 600;
  text-decoration: underline;
}

.sobre a:hover {
  text-decoration: none;
}

.sobre .avatar {
  float: left; /*coloca o texto envolta da foto*/
  margin-right: 2em;
}

.sobre .avatar img {
  clip-path: circle();
  width: 200px;
  height: 200px;
}

.portfolio .grid {
  display: grid; /* O grid é para maior controle das colunas flex colunas automaticas */
  gap: 2em; /*espaçamento das colunas*/
} /* Os elementos podem ser alinhados com propriedades do grid ou texto */ 

@media( min-width: 560px ) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media( min-width: 880px ) {
  .portfolio .grid {
    grid-template-columns: repeat( 3, 260px );/* repeat(3, 260px) = 260px 260px 260px no valor  */
    align-content: center;
    justify-content: center;
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.card-back p {
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: justify;
} 


.portfolio figure {
  /* color: whitesmoke; */
  text-align: center; /*alinhamento vertical*/
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center bottom; /* alinhamento da img na caixa */
  transition: transform 500ms ;
}
/* 
.img-portfolio:hover {
  transform: scale(1.2); /*muda a escala da foto, no caso aumenta, no momento que o mouse está em cima
} */

@media( min-width: 1200px ) {
  .img-portfolio {
    height: 180px;
    width: 240px;
  }
}

.contato .icons {
  text-align: center;
}
.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:hover, .contato a:active {
  text-decoration: none;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5); 
  /* text-shadow: x y borrado cor ; aplicar sombra */
  /* rgba(red, green, blue, transparencia de 0 a 1); */
}


