/* Reset do CSS   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  /* background-color: #d5dbdb; */
  background-image: url("../img/backgroundTexturaMetalica.jpg");
  background-size: auto 100vh;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  height: 100vh;
}

/*tamanho minimo para carregar estilos*/
@media( min-width: 400px ) {
  body {
    font-size: 14px;
  }
}

@media( min-width: 600px ) {
  body {
    font-size: 18px;
  }
}

@media( min-width: 1200px ) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center; /*alinhamento horizontal*/
  align-items: center; /*alinhamento veritical*/
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 20px;
  transition: background-color 2s, color 2s;
  /*transition: quais propriedades quero que mude e o tempo da transição, precisa de um gatilho no caso é o hover*/
}

.menu a:hover, .menu a:active {
  background-color: teal;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0; /*colocar transparencia 0 transparente a 1 opaco*/
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  100% {
  transform: scale(1) translateY(0);
  opacity: 1;
  }
} /*Pode ser de 0% a 100% ou  from- to*/

.site-title, .site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family:'Work Sans', sans-serif;
  font-size: 4em; /* em - unidade relativa ao valor da fonte do body */
  /* line-height: 1.8em; altura de linha */
}

.site-subtitle {
  /* font-style: italic; */
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

.portfolio , .contato {
  padding: 2em; /* empurrão dos elementos para dentro */
  min-height: 100vh; /*altura minima*/
}

.portfolio h2, .contato h2 {
  color: whitesmoke;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}

.portfolio .grid {
  display: grid; /* O grid é para maior controle das colunas flex colunas automaticas */
  gap: 2em; /*espaçamento das colunas*/
} /* Os elementos podem ser alinhados com propriedades do grid ou texto */ 

@media( min-width: 560px ) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media( min-width: 880px ) {
  .portfolio .grid {
    grid-template-columns: repeat( 3, 260px );/* repeat(3, 260px) = 260px 260px 260px no valor  */
    align-content: center;
    justify-content: center;
  }
}

.portfolio figure {
  color: whitesmoke;
  text-align: center; /*alinhamento vertical*/
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: center bottom; /* alinhamento da img na caixa */
  transition: transform 500ms ;
}

.img-portfolio:hover {
  transform: scale(1.2); /*muda a escala da foto, no caso aumenta, no momento que o mouse está em cima*/
}

@media( min-width: 1200px ) {
  .img-portfolio {
    height: 180px;
    width: 240px;
  }
}

.contato .icons {
  text-align: center;
}
.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:hover, .contato a:active {
  text-decoration: none;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5); 
  /* text-shadow: x y borrado cor ; aplicar sombra */
  /* rgba(red, green, blue, transparencia de 0 a 1); */
}


